/*reset styles*/

*{margin:0;padding:0;}

/*fonts*/

.git {
	
}

@font-face {
	font-family: "PostNoBillsJaffna";
    src: url("../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Bold.woff") format("woff"),
    url("PostNoBillsJaffna") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



/*container*/

.container {
	max-width: 1110px;
	padding: 0px 15px 0px 15px;
	margin: 0 auto;
}

/* buttons */

.btn {
	display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    width: 138px;
    border: 1px solid white;
    color: white;
    padding: 10px 0px;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 30px auto;
    transition: background 0.2s, color .2s;
}

.btn:hover {
	color: black;
	background-color: white;
	transition: 0,3s;
}

/* top-line */

.top-line {
	width: 100%;
	max-height: 50px;
	background-color: black;
}

.top-line__container {
	height: 50px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.top-line__column {
	font-family: 'PT Sans', sans-serif;
	color: #969696;
	font-size: 12px;
	line-height: 15px;
	margin: auto 0px;
}

.top-line__text {
	display: inline-block;
	vertical-align: middle;
}

.top-line__call {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

.top-line__a {
	text-decoration: none;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	color: #969696;
	font-size: 12px;
	vertical-align: middle;
}

.top-line__log {
	margin-right: 15px;
}

.top-line__log-img {
	vertical-align: middle;
	display: inline-block;
}

.top-line__log-in {
	text-decoration: none;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	color: #969696;
	font-size: 12px;
	vertical-align: middle;
}

.top-line__log-in::after {
	content: '/';
    padding-left: 3px;
} 

/* header */

.header {
	width: 100%;
	height: 80px;
	background-color: #0F0F0F;
}

.header__container {
	max-width: 1110px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/*header__logo*/

.header__logo {
	margin: auto 0px auto 0px;
	text-decoration: none;
	font-size: 36px;
	color: white;
	font-family: PostNoBillsJaffna, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/*header__main-menu*/

.header__menu {
	height: 80px;
	width: 540px;
	display: flex;
	justify-content: space-between;
}

.header__main-menu a {
	text-decoration: none;
	height: 80px;
	padding: 0px 20px;
	display: flex;
}

.header__main-menu p {
	text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 14px;
    margin: auto;
}

.header__main-menu {
  	list-style: none;
  	margin: auto 0;
}

.header__point {
    display: inline-block;
}

.header__menu li:hover {
	background: #1F1F1F;
}

.header__search {
	margin: auto 0;
}

.header__cart {
	margin: auto 0;
}

/* first-screen */

.first-screen {
	background-image: url("../images/rectangle.jpg");
	width: 100%;
	height: 810px;
	background-size: cover;
	background-position: center center;
	margin: 0 auto;
	text-align: center;
}

.first-screen__container {
	width: 730px;
	height: 500px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin-top: 160px;
}

.first-screen__logo {
	width: 320px;
	height: 320px;
	border: 4px solid white;
	padding-top: 110px;
}

.first-screen__title {
	font-size: 64px;
	line-height: 67px;
	color: white;
	font-family: PostNoBillsJaffna, sans-serif;
    font-weight: bold;
    text-indent: 0px;
    position: relative;
    width: 185px;
    margin: 0 auto;
}

.first-screen__title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    display: block;
}

.first-screen__text {
	font-family: 'PT Sans', sans-serif;
	color: white;
	font-size: 22px;
	line-height: 28px;
}

.first-screen__lorem {
	width: 730px;
	height: 96px;
	font-family: 'PT Sans', sans-serif;
	color: white;
	font-size: 16px;
	margin: 76px auto 0px auto;
	line-height: 24px;
	text-transform: uppercase;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* new-season */

.new-season {
	width: 100%;
	height: 730px;
	display: flex;
}

.new-season__goods {
    width: 50%;
    height: 730px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-season__products {
    width: 100%;
    height: 405px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 880px;
}

.new-season__column {
	width: 260px;
	height: 405px;
	display: flex;
    flex-direction: column;
}

.new-season__watch {
	margin: auto;
}

.new-season__wrap {
	width: 260px;
	height: 325px;
	background-color: #191B1C;
	display: flex;
}

.new-season__description {
	width: 260px;
	height: 80px;
	background-color: black;
	text-align: left;
	padding-top: 25px;
}

.new-season__good {
	font-family: 'Playfair Display', serif;
	color: white;
	display: block;
	font-size: 18px;
	line-height: 24px;
}

.new-season__title {
    text-transform: uppercase;
    height: 140px;
    padding-top: 90px;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 36px;
    line-height: 48px;
}

.new-season__title::after {
	display: block;
	content: '';
	width: 120px;
    height: 2px;
    background: white;
    margin: 39px auto 0px;
}

.new-season_season::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background: white;
    bottom: 50px;
    left: 460px;
}

.new-season__collection {
	width: 50%;
	height: 730px;
	background-image: url("../images/collection.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left top;
}

.new-season__new {
	font-family: 'Playfair Display', serif;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 48px;
	width: 400px;
	height: 80px;
	margin: 450px auto 0px;
	position: relative;
}

.new-season__new::after {
	content: "";
    width: 120px;
    height: 2px;
    display: block;
    background-color: white;
    margin: 28px auto 0px;
}

/* collection*/

.collection {
    height: 600px;
    width: 100%;
    display: flex;
}

.collection__screen {
    width: 40%;
    height: 600px;
    background-image: url(../images/collection__2018.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.collection__description {
	width: 60%;
	height: 600px;
	background-color: black;
	text-align: center;
}

.collection__title {
    text-transform: uppercase;
    height: 140px;
    padding-top: 90px;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 36px;
    line-height: 48px;
}

.collection__title::after {
	display: block;
	content: '';
	width: 120px;
    height: 2px;
    background: white;
    margin: 39px auto 0px;
}

.collection__text {
	font-family: 'PT Sans', sans-serif;
	color: white;
	font-size: 14px;
	line-height: 21px;
	width: 471px;
	height: 173px;
	margin: 0 auto;
}

.collection__btn {
	display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    width: 311px;
    border: 1px solid white;
    color: white;
    padding: 10px 0px;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 30px auto;
    transition: background 0.2s, color .2s;
}

.collection__btn:hover {
	color: black;
	background-color: white;
	transition: 0,3s;
}

.new-goods {
	max-width: 1920px;
	height: 1289px;
	background-color: black;
	margin: 0 auto;
	text-align: center;
}

.new-goods__container {
	width: 1110px;
	height: 890px;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0 auto;
	padding-top: 80px;
}

.new-goods h2 {
	padding-top: 120px;
}

/* our-brands */

.our-brands {
	max-width: 1920px;
	height: 362px;
	background-color: #0F0F0F;
	margin: 0 auto;
	text-align: center;
}

.our-brands__brand {
	width: 255px;
	height: 94px;
	background-image: url(../images/coco.svg);
}

.our-brands__container {
	width: 1110px;
	height: 94px;
	justify-content: space-between;
	display: flex;
	margin: 0 auto;
}


/* footer */

.footer {
	max-width: 1920px;
	height: 400px;
	background-image: url(../images/footer.jpg);
	margin: 0 auto;
	text-align: center;
}

.footer__container {
	width: 1110px;
	height: 240px;
	display: inline-flex;
	justify-content: space-between;
	padding-top: 80px;
}

.footer__column {
	width: 350px;
	height: 240px;
}

.h3 {
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: white;
	text-align: left;
}

.footer__p {
	text-align: left;
	font-family: 'PT Sans', sans-serif;
	color: white;
	font-size: 14px;
	line-height: 21px;
	margin-top: 50px;
}

.footer__btns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 50px;
}

.footer__btn {
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: white;
	padding: 10px 20px;
	background-color: #0F0F0F;
	margin-right: 20px;
	margin-bottom: 20px;
	transition: background 0.3s, color .3s;
}

.footer__btn:hover {
	color: black;
	background-color: white;
	transition: background 0.3s, color .3s;
}

.footer__form {
	text-align: left;
	margin-top: 37px;
	display: flex;
}

.footer__form-btn {
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: white;
	padding: 10px 20px;
	background-color: #0F0F0F;
	transition: background 0.2s, color .2s;
	text-transform: uppercase;
	transition: background 0.3s, color .3s;
}

.footer__form-btn:hover {
	color: black;
	background-color: white;
	transition: background 0.3s, color .3s;
}

input {
	width: 210px;
	height: 41px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	background-color: white;
	padding-left: 15px;
	opacity: 40%;
}


/* last-line */ 

.last-line {
	max-width: 1920px;
	max-height: 50px;
	background-color: black;
	margin: 0 auto;
}

.last-line__container {
	max-width: 1110px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.last-line__column {
	text-align: left;
	font-family: 'PT Sans', sans-serif;
	color: #D0D0D0;
	font-size: 12px;
	line-height: 15px;
	padding-top: 17px;
}

.last-line__a {
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	color: #D0D0D0;
	font-size: 12px;
	line-height: 15px;
	margin-top: 17px;
}

.last-line__a::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #D0D0D0;
	margin-top: -2px;
}

